h6 {margin-bottom:10px;}
.red {color:#bf0000;padding:0 3px;}

#users_id1_td, #users_id2_td {width:40%;vertical-align:top;text-align:left;}
#users_id2_td {text-align:right;}
#middle_td {width:100px;vertical-align:middle;text-align:center;}

#users_id1, #users_id2 {width:100%;border:1px #444 solid;background-color:#FFF;font-size:12px;}
#users_id1 option, #users_id2 option {padding:2px;display:block;}

.btn_update {margin-top:10px;padding:5px 15px;}