html,body {height:100%;background-color:#F8FBF5;}
#top_div {margin-top:-150px;float:left;width:100%;height:50%;}
#login {clear:both;margin-left:auto;overflow:auto;width:400px;margin-right:auto;border:1px solid #ccc;background-color:#FFF;
	letter-spacing:1px;-webkit-border-top-left-radius:4px 4px;-webkit-border-top-right-radius:4px 4px;
	-webkit-border-bottom-left-radius:4px 4px;-webkit-border-bottom-right-radius:4px 4px;}
	#login h1 {padding:8px 0;padding-left:10px;font-size:20px;}
	#login input[type="text"],#login input[type="password"] {width:250px;padding:3px 0;border:1px solid #555;margin:0;}
	#login div.col {margin:10px 20px;}
	#login label {display:inline-block;width:60px;text-align:right;height:20px;padding-right:10px;}
	#login .checkbox {padding-left:70px;padding-right:40px;height:26px;position: relative;}
		#login .checkbox input[type="checkbox"] {position:absolute;top:6px;}
		#login .checkbox label {text-align:left;position:absolute;top:10px;padding-left:25px;width:100px;}
	#login input[type="submit"] {margin-left:70px;padding:3px 5px;}
		#login .captcha {margin:10px 20px;}
			#login .captcha #captcha {width:128px;}
  		#login .captcha img {margin-left:70px;width:130px;}

div.errorExplanation {padding:10px;margin:0 10px;}

